@model Achi.Models.Company

<form method="post">
    <div class="border p-3 mt-4 text-white mb-3">
        <div class="row pb-2">
            <h1 class="text-white">Kitap Sil</h1>
            </hr>
        </div>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" type="text" class="form-control border-2 bg-black text-white" disabled />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" type="text" class="form-control border-2 bg-black text-white" disabled />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Adress"></label>
            <input asp-for="Adress" type="textarea" class="form-control border-2 bg-black text-white" disabled />
            <span asp-validation-for="Adress" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Country.Name"></label>
            <input asp-for="Country.Name" type="text" class="form-control border-2 bg-black text-white" disabled />
            <span asp-validation-for="Country.Name" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="City.Name"></label>
            <input asp-for="City.Name" type="number" class="form-control border-2 bg-black text-white" oninput="updatePrices()" id="ListPrice" disabled />
            <span asp-validation-for="City.Name" class="text-danger"></span>
        </div>


        <div class="mb-3">
            <label asp-for="State.Name"></label>
            <input asp-for="State.Name" type="number" class="form-control border-2 bg-black text-white" id="Price" disabled />
            <input type="hidden" asp-for="State.Name" id="PriceHidden" />
        </div>


    </div>

    <button type="submit" class="btn btn-danger" style="width:150px">Sil</button>
    <a asp-controller="Company" asp-action="Index" class="btn btn-primary bg-black" style="width:150px">
        Listeye Dön
    </a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }

}